/*** Page Layout ***/

body {
	font-family: sans-serif;
	margin: 0 auto;
	text-align: center;
	width: 850px;
}
p, li {
	text-align: left;
}
#left, #right {
	float: left;
	width: 400px;
}
#right {
	float: right;
}
#logo-js {
	height: 400px;
}
/*
#left > div, #right > div {
	background: url(blueprintbg.png);
}
*/

/*** Logo ***/

#logo {
	position: relative;
	width: 400px;
	height: 400px;
}
#logo span {
	position: absolute;
	-webkit-background-clip: padding-box;
}
#logo span:before, #logo span:after {
	content: "";
	position: absolute;
}
#logo .main {
	background-color: #333;
	width:	317px;
	height:	317px;
	left:	42px;
	top:	42px;
	-webkit-transform: rotate(45deg);
	-webkit-border-radius: 85px;
}
#logo .main:after {
	background-color: #F89938;
	width:	255px;
	height:	255px;
	left:	31px;
	top:	31px;
	-webkit-border-radius: 53px;
}
#logo .circle {
	background-color: #39F;
	border:	31px solid #333;
	width:	105px;
	height:	105px;
	left:	117px;
	top:	11px;
	-webkit-border-radius: 83px;
}
#logo .curve {
	border-color: #333;
	border-style: solid;
	border-width: 0 0 30px 0;
	width:	271px;
	height:	185px;
	left:	116px;
	top:	78px;
	clip: rect(0, 225px, 270px, -37px);
	-webkit-border-bottom-right-radius: 100px;
	-webkit-border-bottom-left-radius: 183px 222px;
}
#logo .curve:after {
	border-color: #333;
	border-style: solid;
	border-width: 0 0 31px;
	width:	255px;
	height:	255px;
	left:	-79px;
	top:	-34px;
	clip: rect(90px, 245px, 270px, 0px);
	-webkit-border-bottom-left-radius: 335px 386px;
	-webkit-transform: rotate(45deg);
}
