/*** Page Layout ***/

#wrapper {
	margin: 0 auto;
	overflow: hidden;
	width: 850px;
}
#left, #right {
	float: left;
	text-align: center;
	width: 400px;
}
#right {
	/*
	float: right;
	*/
	position:absolute;
	opacity:0.5;
}
#logo-js {
	height: 400px;
}
#left > div, #right > div {
	/* background: url(blueprintbg.png); */
}

/*** Logo ***/

#logo {
	position: relative;
	width: 400px;
	height: 400px;
}
#logo span {
	position: absolute;
}
#logo span:before, #logo span:after {
	content: "";
	position: absolute;
}
#logo .main {
	/*
	background-color: #333;
	*/
	width:	317px;
	height:	317px;
	left:	41px;
	top:	41px;
	-webkit-transform: rotate(45deg);
	-webkit-border-radius: 85px;
}
#logo .main:after {
	/*
	background-color: #F89938;
	*/
	width:	255px;
	height:	255px;
	left:	31px;
	top:	31px;
	-webkit-border-radius: 53px;
}
#logo .circle {
/*
	background-color: #333;
*/
	width:	166px;
	height:	166px;
	left:	117px;
	top:	11px;
	-webkit-border-radius: 83px;
}
#logo .circle:after {
	/*
	background-color: #39F;
	*/
	width:	105px;
	height:	105px;
	left:	31px;
	top:	31px;
	-webkit-border-radius: 53px;
}
