/*** Page Layout ***/

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	text-align: center;
	width: 850px;
}
p, li {
	text-align: left;
}
#left, #right {
	float: left;
	width: 400px;
}
#right {
	float: right;
}
#logo-js {
	height: 400px;
}
/*
#left > div, #right > div {
	background: url(blueprintbg.png);
}
*/

/*** Logo ***/

#logo {
	position: relative;
	width: 400px;
	height: 400px;
}
#logo span {
	position: absolute;
	-webkit-background-clip: padding-box;
}
#logo span:before, #logo span:after {
	content: "";
	position: absolute;
}
#logo .main {
	background-color: #333;
	width:	317px;
	height:	317px;
	left:	42px;
	top:	42px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	border-radius: 85px;
	-webkit-border-radius: 85px;
	-moz-border-radius: 85px;
}
#logo .main:after {
	background-color: #F89938;
	width:	255px;
	height:	255px;
	left:	31px;
	top:	31px;
	border-radius: 53px;
	-webkit-border-radius: 53px;
	-moz-border-radius: 53px;
}
#logo .circle {
	background-color: #39F;
	border:	31px solid #333;
	width:	105px;
	height:	105px;
	left:	117px;
	top:	11px;
	border-radius: 83px;
	-webkit-border-radius: 83px;
	-moz-border-radius: 83px;
}
#logo .curve {
	border-color: #333;
	border-style: solid;
	border-width: 30px;
	width:	213px;
	height:	165px;
	left:	118px;
	top:	72px;
	clip: rect(30px, 225px, 290px, -42px);
	border-bottom-right-radius: 120px;
	border-bottom-left-radius: 183px 222px;
	-webkit-border-bottom-right-radius: 120px;
	-webkit-border-bottom-left-radius: 183px 222px;
	-moz-border-radius-bottomright: 120px;
	-moz-border-radius-bottomleft: 183px 222px;
}

#logo .curve:after {
	border-color: #333;
	border-style: solid;
	border-width: 31px;
	width:	255px;
	height:	255px;
	left:	-116px;
	top:	-71px;
	clip: rect(90px, 265px, 310px, 0px);
	-webkit-border-bottom-left-radius: 345px 456px;
	-moz-border-radius-bottomleft: 345px 456px;
	/*
	border-bottom-left-radius: 335px 386px;
	*/
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}
